.rwd-table {
    background: rgb(54, 54, 54);
    color: #fff;
    border-radius: .4em;
    margin: 0 auto;
    text-align: center;
    min-width: 520px;
    margin-top: 20px;
}

.rwd-table th,
td {
    padding: 2px 15px;
}

th,
td:before {
    color: rgb(255, 217, 0);
}

.actions-icons {
    display: inline-flex;
    gap: 10px;
}

.actions-icons a {
    color: white;
}

.ticketForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    gap: 10px;
}

.ticketForm input,
select {
    height: 30px;
    border: 1px solid white;
    background-color: #414141;
    padding: 5px;
    color: white;
}

.sectiontitle {
    display: flex;
    justify-content: center;
}

.page-title {
    margin-top: 10px;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 30px;
}

.no-desc {
    font-style: italic;
    color: rgb(255, 49, 49);
    font-size: 14px;
}

.paragraphe {
    text-align: center;
    color: white;
}